body {
    margin: 0;
    padding: 0;
    font: 400 16px/24px "Roboto", "Arial", sans-serif;
    color: #283136;
    background-color: #fff;
  }

  a {
    text-decoration: none;
  }

  ul {
      list-style: none;
  }

  .button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
  }

  .button:hover,
  .button:focus {
      background-color: #e74246;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  header,
  .slider {
      background-color: #eee;
  }

  nav a,
  nav+a {
      font-weight: 500;
      line-height: 18px;
      text-transform: uppercase;
      color: #000;
  }

  nav a:hover,
  nav a:focus,
  nav+a:hover,
  nav+a:focus {
      color: #fb565a;
  }

  nav a:active,
  nav+a:active {
      color: #ababab;
  }

  .main-menu-current {
      border-bottom: 2px solid #fb565a;
  }

  .advantages h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .advant-item:nth-child(2) a {
    background-color: #00ca74;
  }

  .advant-item:last-child a {
      background-color: #efc84a;
  }

  .wrapper-studio p:first-child {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
  }

  caption,
  .wrapper-studio p:last-of-type {
    font-weight: 700;
  }

  table strong {
    font-weight: 700;
    font-size: 45px;
    line-height: 10.06px;
  }

  table sup {
    font-weight: 700;
    font-size: 32px;
    vertical-align: middle;
  }

  .modal input,
  .modal textarea {
    font: inherit;
    background-color: transparent;
    border: 1px solid #d7dcde;
  }

  .modal input:hover,
  .modal textarea:hover {
      border-color: #b4b9bb;
  }

  .modal input:focus,
  .modal textarea:focus {
    outline: none;
    border-color: #000;
  }

  .modal input:invalid,
  .modal textarea:invalid {
    border-color: #e74246;
    color: #e74246;
  }

  .modal label {
    font-weight: 700;
    line-height: 18px;
  }

  .ftr-main strong {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  }