body {
    margin: 0;
    padding: 0;
    font: 400 16px/24px "Roboto", "Arial", sans-serif;
    color: #283136;
    background-color: #fff;
  }

  a {
    text-decoration: none;
  }

  ul {
      list-style: none;
  }

  .button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
  }

  .button:hover,
  .button:focus {
      background-color: #e74246;
  }

  .button:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
  }
/*
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
*/
  header,
  .slider {
      background-color: #eee;
  }

  .hdr-logo img:hover {
    opacity: 0.8;
  }

  .hdr-logo img:active {
    opacity: 0.3;
  }

  nav a,
  nav+a {
      font-weight: 500;
      line-height: 18px;
      text-transform: uppercase;
      color: #000;
  }

  nav a:hover,
  nav a:focus,
  nav+a:hover,
  nav+a:focus {
      color: #fb565a;
  }

  nav a:active,
  nav+a:active {
      color: #ababab;
  }

  .main-menu-current {
      border-bottom: 2px solid #fb565a;
  }

  .wrapper-slide p:first-child {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
  }

  .advant-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .btn-green {
    background-color: #00ca74;
  }

  .btn-green:hover,
  .btn-green:focus {
      background-color: #00bc6c;
  }

  .btn-green:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px #009958;
  }

  .btn-yellow {
      background-color: #efc84a;
  }

  .btn-yellow:hover,
  .btn-yellow:focus {
      background-color: #eab534;
  }

  .btn-yellow:active {
    background-color: #e5a722;
    box-shadow: inset 0 3px #ce961f;
  }

  .wrapper-studio p:first-child {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
  }

  .studio-table caption,
  .wrapper-studio p:last-of-type {
    font-weight: 700;
  }

  .studio-table strong {
    font-weight: 700;
    font-size: 45px;
    line-height: 10.06px;
  }

  .studio-table sup {
    font-weight: 700;
    font-size: 32px;
    vertical-align: middle;
  }

  .windows-contacts h4 {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .windows-contacts p {
    color: #666;
    font-size: 16px;
    line-height: 18px;
  }

  .filter fieldset {
    border: none;
  }

  .filter ul {
    line-height: 40px;
  }

  .filter legend {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .filters input:hover+label,
  .filters input:focus+label {
    color: #283136;
  }

  .filters input:disabled+label {
    color: #bec1c2;
  }

  .filter-button {
    outline: none;
  }

  .catalog-item {
    background-color: #e9e9e9;
  }

  .catalog-item:hover {
    background-color: #4d4d4d;
  }

  .catalog-item-hidden {
    background-color: #eee;
    text-align: center;
  }

  .catalog-item-hidden h3 {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .catalog-item-hidden p {
    color: #666;
    font-size: 16px;
    line-height: 18px;
  }

  .pagination-item a { 
    color: #000;
    background-color: #eee;
  }
  
  .pagination-item a:hover,
  .pagination-item a:focus {
    background-color: #dfdfdf;
  }
  
  .pagination-item a:active {
    color: #959595;
    background-color: #d5d5d5;
  }

  .pagination-item-current a {
    color: #000000;
    background-color: #fff;
    border: 1px solid #dfdfdf;
  }
  
  .pagination-item-current a:hover,
  .pagination-item-current a:focus,
  .pagination-item-current a:active {
    color: #000000;
    background-color: #ffffff;
  }

  .social-menu a {
    background-color: #e1e1e1;
  }

  .social-menu a:hover,
  .social-menu a:focus {
    background-color: #e74246;
  }

  .social-menu a:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
  }

  .social-menu a:active img {
    opacity: 0.5;
  }

  .ftr-main strong {
    color: #000;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  }

  .ftr-main p:last-child {
    color: #444;
    line-height: 22px;
  }

  .modal input,
  .modal textarea {
    font: inherit;
    background-color: transparent;
    border: 1px solid #d7dcde;
  }

  .modal input:hover,
  .modal textarea:hover {
      border-color: #b4b9bb;
  }

  .modal input:focus,
  .modal textarea:focus {
    outline: none;
    border-color: #000;
  }

  .modal input:invalid,
  .modal textarea:invalid {
    border-color: #e74246;
    color: #e74246;
  }

  .modal label {
    font-weight: 700;
    line-height: 18px;
  }
