  body {
    margin: 0;
    padding: 0;
    font: 400 16px/24px "Roboto", "Arial", sans-serif;
    color: #283136;
    background-color: #fff;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .button {
    display: inline-block;
    font: inherit;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
  }

  .button:hover,
  .button:focus {
    background-color: #e74246;
  }

  .button:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .layout-positioner {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
  }

  header,
  .slider {
    background-color: #eee;
  }

  .hdr-main {
    padding-top: 50px;
  }

  .inner .hdr-main {
    padding-bottom: 70px;
  }

  .hdr-main .layout-positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hdr-main h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000;
    text-align: center;
    margin-top: 70px;
  }

  .hdr-logo img:hover {
    opacity: 0.6;
  }

  .hdr-logo img:active {
    opacity: 0.3;
  }

  nav a,
  nav+a {
    display: block;
    margin-top: 7px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
  }

  nav a:hover,
  nav a:focus,
  nav+a:hover,
  nav+a:focus {
    color: #fb565a;
  }

  nav a:active,
  nav+a:active {
    color: #ababab;
  }

  .main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
  }

  .main-menu-current {
    border-bottom: 2px solid #fb565a;
  }

  .basket {
    position: relative;
    width: 115px;
    text-align: right;
  }

  .basket::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    background: url("../img/cart-icon.png") no-repeat;
  }

  .slider .layout-positioner {
    position: relative;
    overflow: hidden;
  }

  .slider input[type="radio"] {
    display: none;
  }

  .slider-controls {
    position: absolute;
    bottom: 90px;
    left: 50%;
    z-index: 1;
  }

  .slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: #cccccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.2s;
  }

  #btn-1:checked ~ .slider-controls label[for="btn-1"],
  #btn-2:checked ~ .slider-controls label[for="btn-2"],
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
  }
  
  
  #btn-1:checked ~ .slider-inner .features {
    transform: translate(0);
  }
  
  #btn-2:checked ~ .slider-inner .features {
    transform: translate(-1200px);
  }
  
  #btn-3:checked ~ .slider-inner .features {
    transform: translate(-2400px);
  }

  .features {
    width: 320%;
    word-wrap: break-word;
    transition: transform 0.8s ease;
  }

  .feature-slide {
    width: 1190px;
    float: left;
  }

  .wrapper-slide {
    width: 520px;
    padding-top: 73px;
    padding-bottom: 82px;
  }

  .wrapper-slide p {
    margin-top: 29px;
    margin-bottom: 39px;
  }

  .wrapper-slide p:first-child {
    margin: 0;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
  }

  .slide-first {
    background: url("../img/slide1.png") no-repeat right 30px bottom;
  }

  .slide-second {
    background: url("../img/slide2.png") no-repeat right bottom;
  }

  .slide-third {
    background: url("../img/slide3.png") no-repeat right bottom;
  }

  .btn-slide {
    padding: 17px 55px 15px 55px;
  }

  .advant-list {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid #eee;
  }

  .advant-item {
    width: 300px;
    margin-right: 100px;
    padding-top: 145px;
  }

  .advant-item:last-child {
    margin-right: 0;
  }
  
  .advant-item:first-child {
    background: url("../img/illustration-1.png") no-repeat;
    background-size: 100% 145px;
  }

  .advant-item:nth-child(2) {
    background: url("../img/illustration-2.png") no-repeat;
    background-size: 100% 145px;
  }

  .advant-item:last-child {
    background: url("../img/illustration-3.png") no-repeat;
    background-size: 100% 145px;
  }

  .advant-item h3 {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .advant-item p {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .advant-item .button {
    padding: 17px 40px 15px 40px;
  }

  .btn-green {
    background-color: #00ca74;
  }

  .btn-green:hover,
  .btn-green:focus {
    background-color: #00bc6c;
  }

  .btn-green:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px #009958;
  }

  .btn-yellow {
    background-color: #efc84a;
  }

  .btn-yellow:hover,
  .btn-yellow:focus {
    background-color: #eab534;
  }

  .btn-yellow:active {
    background-color: #e5a722;
    box-shadow: inset 0 3px #ce961f;
  }

  .studio {
    padding-top: 40px;
    padding-bottom: 45px;
  }

  .studio .layout-positioner {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-studio li {
    margin-bottom: 25px;
  }

  .wrapper-studio li::before {
    content: "― ";
    color: #fb565a;
    font-size: 27px;
  }

  .wrapper-studio:first-child {
    width: 660px;
  }

  .wrapper-studio:last-child {
    width: 360px;
    padding-top: 245px;
    background: url("../img/nerds-illustration.jpg") no-repeat;
  }

  .wrapper-studio p:first-child {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .wrapper-studio p:nth-child(2) {
    margin-bottom: 30px;
  }

  .wrapper-studio p:last-of-type {
    margin-bottom: 25px;
  }

  .studio-table caption {
    margin-bottom: 50px;
  }

  .studio-table caption,
  .wrapper-studio p:last-of-type {
    font-weight: 700;
    text-transform: uppercase;
  }

  .studio-table td {
    padding: 5px 20px 15px 0;
    text-align: left;
    line-height: 1.2;
  }

  .studio-table strong {
    font-weight: 700;
    font-size: 45px;
    line-height: 10.06px;
  }

  .studio-table sup {
    font-weight: 700;
    font-size: 30px;
    vertical-align: middle;
  }

  .partners-list {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #eee;
    padding-top: 45px;
    padding-bottom: 37px;
    border-bottom: 2px solid #eee;
  }

  .partner-item {
    opacity: 0.3;
  }

  .partner-item:hover {
    opacity: 1;
  }

  .partner-item:active {
    opacity: 0.1;
  }

  .partner-item:first-child {
    margin-top: 17px;
  }

  .partner-item:nth-child(3) img{
    margin-top: 17px;
  }

  .partner-item:last-child {
    margin-top: 7px;
  }

  .contacts {
    position: relative;
    padding-top: 80px;
  }

  .inner .contacts {
    padding-top: 60px;
  }

  .contacts iframe {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .inner .contacts iframe {
    top: 60px;
  }

  .wrapper-contacts {
    position: relative;
    width: 1440px;
    height: 420px;
    margin: 0 auto;
  }

  .windows-contacts {
    position: absolute;
    width: 320px;
    height: 310px;
    top: 50px;
    left: 140px;
    padding: 25px 50px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 2;
  }

  .windows-contacts h4 {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .windows-contacts p {
    color: #666;
    font-size: 16px;
    line-height: 18px;
  }

  .windows-contacts p:nth-of-type(2) {
    margin-bottom: 38px;
  }

  .windows-contacts .button {
    padding: 17px 45px 15px 45px;
  } 

  .flex-container {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
  }

  .filters {
    min-width: 260px;
  }

  .filters fieldset {
    padding: 0;
    border: none;
    margin-bottom: 28px;
  }

  .filters ul {
    line-height: 40px;
  }

  .filters legend {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .filter-slider legend {
    margin-bottom: 60px;
  }

  .filter-option li {
    padding-left: 35px;
  }

  .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .filter-radio+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -35px;
    top: 8px;
    background: url("../img/radio-off.png") no-repeat;
    opacity: 0.5;
  }

  .filter-radio:checked+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -35px;
    top: 8px;
    background: url("../img/radio-on.png") no-repeat;
    opacity: 0.5;
  }

  .filter-checkbox+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -35px;
    top: 8px;
    background: url("../img/checkbox-off.png") no-repeat;
    opacity: 0.5;
  }

  .filter-checkbox:checked+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -35px;
    top: 8px;
    background: url("../img/checkbox-on.png") no-repeat;
    opacity: 0.5;
  }

  .filters input:hover+label::before,
  .filters input:focus+label::before {
    opacity: 1;
  }

  .filters input:disabled+label {
    color: #bec1c2;
  }

  .filters input:disabled+label::before {
    opacity: 0.15;
  }

  .filter-button {
    padding: 17px 90px 15px 90px;
    font-weight: 500;
    color: #000;
    background-color: #eee;
  }

  .filter-button:hover,
  .filter-button:focus {
    background-color: #dfdfdf;
    outline: none;
  }

  .filter-button:active {
    color: #959595;
    background-color: #d5d5d5;
    box-shadow: inset 0 3px #bfbfbf;
    outline: none;
  }

  .sort p {
    display: inline;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .sort ul {
    float: right;
  }

  .sort li {
    display: inline-block;
    margin-left: 21px;
  }

  .sort li:last-of-type a,
  .sort li:nth-last-of-type(2) a {
    font-size: 32px;
    vertical-align: middle;
  }

  .sort li:last-of-type a {
    position: relative;
    right: -8px;
  }

  .sort li:last-of-type {
    margin-left: -10px;
  }

  .sort li:nth-last-of-type(2) {
    margin-left: 36px;
  }

  .sort a {
    color: #b2b2b2;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .sort a:hover,
  .sort a:focus {
    color: #666;
  }

  .sort a:active {
    color: #000;
  }

  .catalog {
    width: 760px;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 47px;
  }

  .catalog-item {
    position: relative;
    width: 360px;
    height: 615px;
    margin-bottom: 35px;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: #e9e9e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .catalog-item:hover {
    background-color: #4d4d4d;
  }

  .catalog-item:hover>.catalog-item-hidden {
    display: block;
  }

  .catalog-item span {
    position: absolute;
    top: 7px;
    left: 10px;
    color: #fff;
    font-size: 30px;
  }

  .catalog-item-hidden {
    position: absolute;
    display: none;
    width: 360px;
    padding-top: 10px;
    padding-bottom: 50px;
    bottom: 0;
    left: 0;
    background-color: #eee;
    text-align: center;
  }

  .catalog-item-hidden h3 {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .catalog-item-hidden p {
    margin-bottom: 40px;
    color: #666;
    font-size: 16px;
    line-height: 18px;
  }

  .catalog-item-hidden .button {
    padding: 15px 60px;
  }

  .pagination-item {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
  }

  .pagination-item a { 
    display: block;
    padding: 10px 17px;
    margin-right: 8px;
    box-sizing: border-box;
    font-weight: 500;
    color: #000;
    text-align: center;
    background-color: #eee;
    border: 3px solid transparent;
    border-radius: 3px;
  }
  
  .pagination-item:last-child a {
    padding: 10px 82px;
    text-transform: uppercase;
  }

  .pagination-item a:hover,
  .pagination-item a:focus {
    background-color: #dfdfdf;
  }
  
  .pagination-item a:active {
    color: #959595;
    background-color: #d5d5d5;
    border-top-color: #bfbfbf;
  }

  .pagination-item-current a {
    color: #000000;
    background-color: #fff;
    border: 3px solid #dfdfdf;
  }
  
  .pagination-item-current a:hover,
  .pagination-item-current a:focus,
  .pagination-item-current a:active {
    color: #000000;
    background-color: #ffffff;
  }

  .ftr-main {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .ftr-main .layout-positioner {
    display: flex;
    align-items: center;
  }

  .social-menu {
    margin-right: 127px;
  }

  .social-menu li {
    display: inline-block;
  }

  .social-menu a {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    background-color: #e1e1e1;
  }

  .social-menu li:last-child a {
    margin-right: 0;
  }

  .social-menu img {
    vertical-align: middle;
  } 

  .social-menu a:hover,
  .social-menu a:focus {
    background-color: #e74246;
  }

  .social-menu a:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
  }

  .social-menu a:active img {
    opacity: 0.5;
  }

  .promo strong {
    color: #000;
    font-weight: 700;
    font-size: 36px;
  }

  .promo p {
    color: #444;
    line-height: 32px;
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    display: none;
  }

  .modal:target {
    display: block;
    pointer-events: auto;
  }

  .modal-message {
    position: relative;
    width: 960px;
    height: 590px;
    padding: 67px 100px;
    margin: 50vh auto;
    transform: translateY(-300px);
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 15px 50px -10px #000;
  }

  .modal-message h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000;
  }

  .message p {
    display: inline-block;
  }

  .message p:first-child {
    margin-right: 36px;
  }

  .message input {
    width: 360px;
    padding: 11px;
    box-sizing: border-box;
  }

  .message textarea {
    width: 760px;
    height: 110px;
    margin-bottom: 25px;
    padding: 11px;
    box-sizing: border-box;
  }


  .modal input,
  .modal textarea {
    font: inherit;
    background-color: transparent;
    border: 2px solid #d7dcde;
  }

  .modal input:hover,
  .modal textarea:hover {
    border-color: #b4b9bb;
  }

  .modal input:focus,
  .modal textarea:focus {
    outline: none;
    border-color: #000;
  }

  .modal input:invalid,
  .modal textarea:invalid {
    border-color: #e74246;
    color: #e74246;
  }

  .modal label {
    display: block;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .modal-close {
    position: absolute;
    top: 70px;
    right: 80px;
    cursor: pointer;
    font-size: 30px;
    color: #fecccd; 
    border: none;
    background: none;
    outline: none;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: #fb565a;
  }

  .modal-close:active {
    color: #ffeeee;
  }

  .modal-button {
    padding: 17px 80px 15px 80px;
    cursor: pointer;
    outline: none;
  }